<div class="d-flex flex-column h-100">
  <div class="container-fluid h-100">
    <div class="row">
      <div class="col-10">
        <h3 class="first justify-content-center align-items-center h-100">ENVI SERVER</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <p-menubar [model]="userMenu" [styleClass]="'border-0'">
          <button pButton label="Logout" class="ui-button-secondary" icon="pi pi-sign-out" (click)="logout()"></button>
        </p-menubar>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-2 col-md-3 col-sm-4">
        <app-filter></app-filter>
      </div>
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

